h1{
    font-family: 'Josefin Sans', sans-serif;
     color: blue;
     text-align: center;
}
body{
    background-color: white;
}
#intro{
    color: blue;
    text-align:center
}
.team{
    float: left;
    width: 500px;
    background-color: blue;
    padding-left: 1px;
    border-radius: 25px;
    margin-top: 10px;
 }
 
 .teams li{
    width: 350px;
    margin-left: 10px;
    padding-left: 10px;
    border: 1px solid black;
    background-color: white;
    font-family: 'Roboto Slab', serif;;
    font-size: 25px;
    border-radius: 25px;
    
 }
 h2{
    font-family: 'Josefin Sans', sans-serif;
    color: blue;
 }
 .logos{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 10px;
 }
 a{
    text-decoration: none;
 }
#GujaratTitans{
    color: #17ced1;
}

#MumbaiIndians{
    color: blue;
}

#ChennaiSuperKings{
    color: #ffdd00;
}

ul{
    list-style: none;
}
li{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 30px;
    padding-right: 5%;
    padding-left: 5%;
}